@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&family=Plus+Jakarta+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@font-face {
  font-family: valorant;
  src: url(Font/Valo.ttf);
}
body{
    overflow: hidden;
    background-image: url("https://cdn.discordapp.com/attachments/1054010142846369893/1054012471620423700/stefan-grage-Y4MKctPwIrw-unsplash.jpg");
    background-size:cover;
    background-position-y: -200px;
  }
.login-container {
    width: 500px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border: 1px solid #ccc; */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 30px #0000001b;
    border-radius: 4px;

    }
    
    h1 {
    font-size: 60px;
    margin-bottom: 60px;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    }
    
    form {
    display: flex;
    flex-direction: column;
    }
    
    label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;


    }
    
    input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    }
    
    input[type="submit"] {
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: transform .2s;

    }
    
    input[type="submit"]:hover {
    background-color: #000000;
    transform: scale(1.02);

    }
    .welcome{
      margin-top: 13%;
      text-align: center;
      color: #000000;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 60px;
      font-weight: bolder;

    }
    button[type="submit"] {
      width: 10%;

      background-color: #000000;
      color: rgb(255, 255, 255);
      padding: 14px 20px;
      /* margin-left: 0px;
      margin-right: 0px; */
      text-align: center;
      margin-left:45%;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 8%;
      transition: transform .2s;
      }
    button[type="submit"]:hover{
      transform: scale(1.2);
    }
  
    
    
    
    